[Desktop Entry]
Type=Application
Exec=/bin/sh /var/games/CLV-Z-HAKCHI_OPENLARA/hakchi_OpenLara.sh
Path=/var/lib/clover/profiles/0/CLV-Z-HAKCHI_OPENLARA
Name=Hakchi OpenLara
Icon=/var/games/CLV-Z-HAKCHI_OPENLARA/CLV-Z-HAKCHI_OPENLARA.png

[X-CLOVER Game]
Code=CLV-Z-HAKCHI_OPENLARA
TestID=0
ID=0
Players=2
Simultaneous=1
ReleaseDate=1996-10-01
SaveCount=0
SortRawTitle=_hakchi OPENLARA
SortRawPublisher=edios interactive
Copyright=OpenLara by XProger

